{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
   "node": true,
   "es6": true
  },
  "rules": {
    "@typescript-eslint/adjacent-overload-signatures": "error",
    "@typescript-eslint/ban-ts-comment": "error",
    "no-duplicate-imports": "warn",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars": "error",
    "no-unused-expressions": "error",
    "no-useless-return":"error",
    "no-alert": "error",
    "no-inline-comments": "error",
    "no-console": "warn",
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "error",
    "no-extra-semi": "off",
    "@typescript-eslint/no-extra-semi": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-this-alias": "error",
    "@typescript-eslint/no-var-requires": "error",
    "@typescript-eslint/prefer-as-const": "error"
  }
}
