# prettier ignore exemple for node js project

# Ignore artifacts:
dist
build
node_modules

# Ignore JSON, YAML, Markdown files
*.json
*.yml
*.yaml
*.md


# Ignore all dotfiles
.*

# Ignore all files in the .git directory
.git/*



